<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Engine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <applicationSettings>
        <Engine.Properties.Settings>
            <setting name="TileSizeX" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="TileSizeY" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="MaxWidth" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="MaxHeight" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="DefaultResolutionX" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="DefaultResolutionY" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="ConsoleResolutionX" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="ConsoleResolutionY" serializeAs="String">
                <value>28</value>
            </setting>
        </Engine.Properties.Settings>
    </applicationSettings>
</configuration>
